body {
    background: url("https://i.imgur.com/Rqm6Whm.jpg") no-repeat center fixed;
    background-size: cover;
    color: rgb(71, 83, 95);
    background-repeat: no-repeat;
    height: 100vh;
  }
      
  div {
    width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: rgba(240, 240, 245, .9);
        height: 100vh;
        border-radius: 15px;
  }
  h1, p, h2, h3, h4 {
    text-align: center;
  }
  
  hr {
    color: rgb(95, 123, 178);
    height: .5px;
    opacity: .6;
  }

  span#range {
    background-image: linear-gradient(to right,  #c7613f,  #256b8b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .width {
    color: rgba(125, 119, 158, 0.985);
  }

  span#percent {
    color: rgb(82, 119, 149);
  }

  span#smell {
    color: rgb(239, 71, 49)
  }
  
.divider {
  height: 0px;
  opacity: .2;
}

.cheatsheet {
  background-color: rgba(166, 178, 187, 0.396);
  border-radius: 15px;
  height: 100%;
  text-align: center;
}
h3#hot {
  background-image: linear-gradient(to right,  #f87b52,  #256b8b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3#meals {
  color: rgba(125, 119, 158, 0.985);
}

.dimensions {
  color: rgb(235, 117, 117)
}

h3#humid {
  color: rgb(82, 119, 149);
}

