body {
  background: url("https://i.imgur.com/yA68gcA.jpg") no-repeat center fixed;
  color:  #f6f6f6;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

.panel {
margin: auto;
width: 87%;
background-color: rgba(39, 40, 40, .97);
padding: 10px;
border: 5px;
border-color: green;
box-shadow: 0 0 6px 2px #3ff8cb,
            0 0 8px 4px #c03ec2;
}

h1#titlemain {
  background-color: white;
  color:  #272828;
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, p, h2, h3, h4 {
  text-align: center;
}

hr {
  opacity: .8;
  border: 2px dashed rgb(74, 199, 188);
  border-radius: 70%
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.quicklinks {
  color:  #f6f6f6;
}

.quicklinks:link {
  text-decoration: none;
}

.quicklinks:visited {
  text-decoration: none;
}

.quicklinks:hover {
  text-decoration: none;
  box-shadow: 0 0 4px 1px #3ff8cb,
  0 0 6px 2px #c03ec2;  
}

.quicklinks:active {
  text-decoration: none;
}

span#range {
  background-image: linear-gradient(to right,   #ee3924, #24d7ee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width {
  color: #c47ef5;
}

.dimensions {
  color: rgb(255, 192, 44);
  }

span#percent {
  color: #3ff8cb;
}

span#smell {
  color: rgb(255, 74, 50)
}

.constrict {
  color: aqua;
}

.bite {
  color:#c47ef5;
}

span#nope {
  color: grey
}

.space {
height: 22px;
}

div#details {
  width: 88%;
  margin: auto;
}

h3#hot, h3#mealtime, h3#home, h3#humid,
h3#shed, h3#handle {
  background-image: linear-gradient(to top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  a#toplink {
    text-align: center;
    display: block;
    color:rgb(42, 214, 194);
    box-shadow: 0 0 4px 1px #3ff8cb,
            0 0 6px 2px #c03ec2;
  }

h2#thanks {
  color:rgb(42, 214, 194);
  text-shadow: 4px 4px 2px black
