body {
  background: url("https://i.imgur.com/yA68gcA.jpg") no-repeat center fixed;
  color:  #f6f6f6;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

#titlemain:hover {
  box-shadow: 0 0 5px 2px #3ff8e9,
  0 0 6px 2px #34e624;
}
.panel {
margin: auto;
width: 87%;
background-color: rgba(39, 40, 40, .97);
padding: 10px;
border: 5px;
border-color: green;
box-shadow: 0 0 6px 2px #3ff8cb,
            0 0 8px 4px #c03ec2;
}

h1#titlemain {
  padding: 3px;
  background-color: white;
  color:  #272828;
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 5px
}

h1, p, h2, h3, h4 {
  text-align: center;
}

hr {
  opacity: .8;
  border: 2px dashed rgb(74, 199, 188);
  border-radius: 70%
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.quicklinks {
  position: relative;
  overflow: hidden;
  color: hsla(185, 55%, 46%, 0.877);
  background: linear-gradient(to right, #2bff8e, rgba(48, 250, 210, 0.533) 50%, hsla(185, 55%, 46%, 0.877) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 350ms ease;
}


.quicklinks:link {
  text-decoration: none;
}

.quicklinks:visited {
  text-decoration: none;
}

.quicklinks:hover {
  background-position: 0 100%; 
  text-decoration: none;
}

.quicklinks:active {
  text-decoration: none;
}


span#range {
  background-image: linear-gradient(to right,   #fd510d, #24d7ee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width {
  color: #c47ef5;
}

.dimensions {
  color: rgb(255, 141, 47);
  }

span#percent {
  color: #3ff8cb;
}

span#smell {
  color: rgb(255, 141, 47);
}

.constrict {
  color: aqua;
}

.bite {
  color:#c47ef5;
}

span#nope {
  color: grey
}

.space {
height: 22px;
}

div#details {
  width: 88%;
  margin: auto;
}

h3#hot, h3#mealtime, h3#home, h3#humid,
h3#shed, h3#handle {
  background-image: linear-gradient(to top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  a#toplink {
    text-decoration: none;
    text-align: center;
    display: block;
    color: hsla(185, 55%, 46%, 0.877);
    box-shadow: 0 0 4px 1px #3ff8cb,
            0 0 6px 2px #c03ec2;
  }

  a#toplink:hover {
    color:#4dffff
  }

h2#thanks {
  color:rgb(42, 214, 194);
  text-shadow: 4px 4px 2px black
