body {
    background: url(https://i.imgur.com/TndXMgp.jpg) no-repeat center fixed;
    color:  #f6f6f6;
    background-size: cover;
    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .paragraphs {font-family: 'play', sans-serif;
  }
  
  .categories:hover {
    box-shadow: inset 0 0 8px 2px #3ff8e986,
    0 0 0px 0px rgba(20, 25, 26, 0.95);
  }

  .panel {
  margin: auto;
  width: 87%;
  background-color: rgba(35, 36, 36, 0.91);
  padding: 10px;
  border: 5px;
  border-color: green;
  box-shadow: inset 0 0 6px 2px #3ff8cb,
              inset 0 0 8px 4px #c03ec2,
              0 0 10px 4px rgb(26, 25, 25);
  }
  
  .panel:hover {
    box-shadow: inset 0 0 10px 2px #3ff8cb,
              inset 0 0 11px 5px #c03ec2,
              0 0 1px 1px #161616e7,
              0 0 6px 1px rgb(4, 201, 255)
              
  }
  
  h1#opening {
    display: block;
    padding: 4px;
    background-color: rgb(24, 23, 23);
    color:  #272828;
    background-image: linear-gradient(to top,  #1fdcf5,  #0bff75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /*
    box-shadow: 0 0 8px 1px #3ff8e9c7,
    inset 0 0 10px 3px rgba(20, 21, 21, 0.95); */
  }

  h1#opening:hover {
    background-image: linear-gradient(to top,  #1faef582,  #0bff7564);
    /*
    box-shadow: 0 0 2px 1px #00ffcc,
    inset 0 0 12px 8px rgba(20, 21, 21, 0.95); */
  }

  .categories {    
    display: block;
    padding: 5px;
    background-color: white;
    color:  #272828;
    background-image: linear-gradient(to top,  #c03ec2,  #0effc3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-radius: 5px;  
    box-shadow: inset 0 0 8px 1px #3ff8e986,
    0 0 7px 3px rgba(20, 25, 26, 0.95);
  }
  
  h1, p, h2, h3, h4 {
    text-align: center;
  }
  
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
  
  .quicklinks {
    position: relative;
    overflow: hidden;
    color: hsla(185, 55%, 46%, 0.877);
    background: linear-gradient(to right, hwb(58 3% 0%), rgb(253, 238, 122) 50%, hsl(185, 93%, 59%) 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 380ms ease;
  }
  
  .quicklinks:link {
    text-decoration: none;
  }
  
  .quicklinks:visited {
    text-decoration: none;
  }
  
  .quicklinks:hover {
    background-position: 0 100%; 
    text-decoration: none;
  }
  
  .quicklinks:active {
    text-decoration: none;
  }
  
  span#range1 {
    color: orange
  }

  span#range2 {
    color:rgb(4, 163, 255)
  }
  
  .width {
    color: #c47ef5;
  }
  
  .dimensions {
    color: rgb(252, 255, 47);
  }
  
  span#percent {
    color: rgb(0, 255, 162);
  }
  
  span#smell {
    color: orange;
  }
  
  .constrict {
    color: rgb(0, 255, 162);
  }
  
  .bite {
    color:#c47ef5;
  }
  
  span#nope {
    color: grey
  }
  
  .space {
  height: 22px;
  }
  
  .details {
    width: 95%;
    margin: auto;
  }
  
  h3#hot, h3#mealtime, h3#home, h3#humid,
  h3#shed, h3#handle {
    display: block;
    background-image: linear-gradient(to top,  #1fdcf5,  #0bff75);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  
    a#toplink {
      border-radius: 7px;
      text-decoration: none;
      padding: 8px;
      text-align: center;
      display: block;
      color: hsla(185, 55%, 46%, 0.877);
      box-shadow: inset 0 0 5px 1px #3ff8cb,
                  0 0 6px 2px #19171a;
    }
  
    a#toplink:hover {
      color:#d8ff4d;
      box-shadow: inset 0 0 8px 2px #3ff8cb,
      0 0 0px 0px #19171a;
    }
  
  h2#thanks {
    color:rgb(42, 214, 194);
    text-shadow: 4px 4px 2px black;
  }
  