body {
    background: url("https://i.imgur.com/Rqm6Whm.jpg") no-repeat center fixed;
    background-size: cover;
    color: rgb(71, 83, 95);
    background-repeat: no-repeat;
    height: 100vh;
  }
      
  div {
    width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: rgba(240, 240, 245, .9);
        height: 100vh;
        border-radius: 15px;
  }
  h1, p, h2, h3, h4 {
    text-align: center;
  }
  
  hr {
    color: rgb(95, 123, 178);
    height: .5px;
    opacity: .6;
  }

  .cheatsheet {
    text-align: center;
  }
  li#temp {
    background-image: linear-gradient(to right,  #ff3213,  #01aefd);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.divider {
  height: 0px;
  opacity: .2;
}




 