body {
  background: url("https://i.imgur.com/XOk7svG.jpg") no-repeat center fixed;
  color:  #f6f6f6;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}

.panel {
margin: auto;
width: 87%;
background-color: rgba(39, 40, 40, .97);
padding: 10px;
border: 5px;
border-color: green;
box-shadow: 0 0 6px 2px #3ff8cb,
            0 0 8px 4px #c03ec2;

}

h1#titlemain {
  background-color: white;
  color:  #272828;
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1, p, h2, h3, h4 {
  text-align: center;
}

hr {
  color: rgb(95, 123, 178);
  height: .5px;
  opacity: .6;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

span#range {
  background-image: linear-gradient(to right,   #ee3924, #24d7ee);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.width {
  color: #c47ef5;
}

.dimensions {
  color: rgb(255, 192, 44);
  }

span#percent {
  color: #3ff8cb;
}

span#smell {
  color: rgb(255, 74, 50)
}

.constrict {
  color: aqua;
}

.bite {
  color:#c47ef5;
}

span#nope {
  color: grey
}

.space {
height: 20px;
}

h3#hot {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3#mealtime {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3#home {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3#humid {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3#shed {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3#handle {
  background-image: linear-gradient(to             top,  #c03ec2,  #3ff8cb);
    background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2#thanks {
  color:rgb(42, 214, 194);
  text-shadow: 3px 2px 3px black
}